<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMoogle: Spread Connections</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/title-icon.ico">
</head>
<body>
 <header>
    <nav>
        <div class="container">
            <img class="logo" src="/img/amlogo.png" alt="logo">
            <h2>Talk with Friends</h2>
            <div class="online-status">00000+ Online users</div>
        </div>
    </nav>
 </header>
 <main>
    <div class="main-container">
        <p>You don't need an app to use AMoogle on your phone or tablet! The web site works great on mobile.</p>
        <p>AMoogle (aam·oo·gal) is a great way to meet new friends. When you use AMoogle, you are paired randomly with another person to talk one-on-one. If you prefer, you can add your interests and you’ll be randomly paired with someone who selected some of the same interests.</p>
        <p>To help you stay safe, chats are anonymous unless you tell someone who you are (not recommended!), and you can stop a chat at any time.Users are solely responsible for their behavior while using AMoogle.</p>
        <p><b>No age limit for using AMoogle.</b>See AMoogle’s Terms of Service for more info. Parental control protections that may assist parents are commercially available and you can find more info at (will update n future) as well as other sites.</p>
        <h2 class="monitored-text">Video is Monitored,Keep it clean.</h2>
        <div class="action-container">
            <p class="start-chat">Start Chatting</p>
            <div class="button-container">
                <button class="action-button">
                    <a href="/text_chat">Text Chat</a>
                </button>
                <button class="action-button">
                    <a href="/video_chat">Video Chat</a>
                </button>
            </div>
        </div>
    </div>
 </main>
</body>
</html>